{% extends "user_page.jinja2" %}

{% block form %}
    <div class="col-lg-9 border-start">
      <form class="container" action="/">
        <div class="mt-5 h3">Om oss</div>

        <div class="mb-3 mt-3">
          <label for="firmanavn" class="form-label">Firma navn: </label>
          <input type="text" class="form-control" id="firmanavn" placeholder="Firma navn her" name="firmanavn">
        </div>

        <div class="mb-3">
          <label for="orgnr" class="form-label">OrgNr:</label>
          <input type="text" class="form-control" id="orgnr" placeholder="Firma org nr her" name="orgnr">
        </div>

        <div class="mb-3">
            <label for="beskrivelse" class="form-label">Kort om oss:</label>
            <textarea class="form-control" id="beskrivelse" placeholder="En kort beskrivelse her." name="beskrivelse"></textarea>
        </div>

        <button type="submit" class="btn-lg btn-primary">Lagre</button>
      </form>
    </div>
{{ super() }}
{% endblock form%}
