{% extends "user_page.jinja2" %}

{% block navbar %}
{% endblock navbar %}

{% block form %}
    <div class="col-lg-9 border-start">
      <form class="container text-center" method="post">
        <div class="mt-5 h3">Login</div>

        <div class="mb-3 mt-3">
	{{ login.username(class="form-control", placeholder="Brukernavn") }}
        </div>

        <div class="mb-3">
	{{ login.email(class="form-control", placeholder="Email") }}
        </div>
	<div class="mb-3">
	{{ login.password(class="form-control", placeholder="Passord") }}
	</div>
	<div class="mb-3">
	{{ login.remember_me }}
	</div>
	<div class="mb-3">
	{{ login.submit( class="btn-lg btn-primary") }}
	</div>
      </form>
	<br>
        <p>Ny bruker?
        <a href='/register'>
        Klikk her for å registrere
        </a>
    </div>
{{ super() }}
{% endblock %}
