{% extends "user_page.jinja2" %}

{% block navbar %}
{% endblock navbar %}

{% block form %}
{% for field, errors in login.errors.items() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="">
      </button>
      {{ login[field].label }}: {{ ', '.join(errors) }}
    </div>
{% endfor %}
  <div class="container-fluid ms-1">
			<div class="row mb-3">
			  <div class="col-lg-6">
			    <div class="card">
				    <div class="card-header bg-success">
				        <h4>Logg inn</h4>
				    </div>
				    <div class="card-body">	
				      <form class="container" method="post" >
				            {{ login.csrf_token }}	
				          <div class="mb-3">
				            {{ login.email.label(class="form-label") }}
				            {{ login.email(class="form-control", placeholder="Epost") }}
				          </div>
				          <div class="mb-3">
				             {{ login.password.label(class="form-label") }}
				             {{ login.password(class="form-control", placeholder="Passord") }}
				          </div>
				          <div class="form-check mb-3">
				            <label class="form-check-label">
				             {{ login.remember_me(class="form-check-input") }} Husk meg
				            </label>
				          </div>
				          <div class="mb-3">
				            {{ login.submit(class="btn-lg btn-primary") }}
				          </div>
		          </form>
				    </div>
				  </div>
			  </div>				
    </div>
  </div>
{{ super() }}
{% endblock %}
