{% extends 'user_page.jinja2' %}
{% block title %} Tilbakestilling av passord {% endblock %}

{% block page_content %}
        <div class="page-header">
        <h1>Skriv inn ditt nytt passord  nedenfor.</h1>
        </div>
        <div class ="col-md-4">
	<form class="container text-center" method="post">
	{{ pass_reset_form.csrf_token }}
            <div class="mb-3">
            {{ pass_reset_form.password(class="form-control", placeholder="passord") }}
            </div>
            <div class="mb-3">
            {{ pass_reset_form.password2(class="form-control", placeholder="gjenta passord") }}
            </div>
            <div class="mb-3">
            {{ pass_reset_form.submit(class="btn-lg btn-primary") }}
            </div>
          </form>
          </div>
  {% endblock page_content %}
  {% block navbar %}
  {% endblock navbar %}


