{% extends 'user_page.jinja2' %}
{% block title %} Nytt passord {% endblock %}

{% block page_content %}
        <div class="page-header">
	<h1>Skriv inn det dye passordet nedenfor.</h1>
        </div>
        <div class ="col-md-4">
	<form class="container text-center" method="post">
	{{ form.csrf_token }}
            <div class="mb-3">
            {{ form.password(class="form-control", placeholder="Nytt passord") }}
            </div>
            <div class="mb-3">
            {{ form.password2(class="form-control", placeholder="bekreft nytt passord") }}
	    </div>
	    <div class="mb3">
	    {{ form.submit(class="btn-lg btn-primary") }}
	    </div>
          </form>
          </div>
  {% endblock page_content %}
  {% block navbar %} {% endblock navbar %}

