{% extends 'user_page.jinja2' %}

{% block navbar %}
{% endblock navbar %}

{% block form %}
  <div class="row">
    <div class="col-lg-6" >
      <div class="card">
        <div class="card-header bg-warning">
          <h4>Glemt passord?</h4>
        </div>
        <div class="card-body">
          <form class="container" method="post">
            {{ pass_reset_form.csrf_token }}
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-3">
                  {{ pass_reset_form.email.label }}
                  {{ pass_reset_form.email(class="form-control", placeholder="Epost")  }}
                </div>
                {% if email_sent %}
                <div class="alert-danger mb-3">Email med instruksjoner sendt</div>
                {% endif %}
                </div>
              </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-3">
                  {{ pass_reset_form.submit(class="btn-lg btn-primary")  }}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{ super() }}
{% endblock %}

