{% extends "user_page.jinja2" %}

{% block navbar %}
{% endblock navbar %}

{% block form %}
{% for field, errors in reg.errors.items() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="">
      </button>
      {{ reg[field].label }}: {{ ', '.join(errors) }}
    </div>
{% endfor %}


   <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header bg-success">
              <h4>Registrer deg som bruker</h4>
            </div>
            <div class="card-body">
              <form class="container"  method="post" >
              {{ reg.csrf_token }}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      {{ reg.email.label }}
                      {{ reg.email(class="form-control", placeholder="Epost") }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      {{ reg.password.label }}
                      {{ reg.password(class="form-control", placeholder="passord") }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                      {{ reg.password2.label }}
                      {{ reg.password2(class="form-control",placeholder="gjenta passord") }}
                      </span>
                    </div>
                  </div>
                  </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-3">
                    {{ reg.submit( class="btn-lg btn-primary") }}
                    </div>
                    {% if awaiting_confirm %}
                    <div class="alert-danger">Sjekk e-post</div>
                   {% endif %}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div> 
{{ super() }}
{% endblock %}

